<center><h1> Shopping Bag </h1></center>

<% @cart.products.each do |product| %>
  
    <%= cart.product.brand.name %>
    <%= cart.product.name %>
    <%= cart.product.item %>
    <%= cart.product.price %>
    <%= cart.product.discription %>
    
<% end %>